@use 'sass:color';
@use '../../../../app/styles/abstracts' as *;

// ================================
// 📄 _sliding-text.scss
// ================================

// ✨ TEXTE ANIMÉ "BENEW"
// clamp : 7rem (360px) → 20rem (1280px)
// formule : 8.3vw + 4.1rem donne ~7.1rem à 360px, ~20rem à 1280px

.slidingTextContainer {
  position: absolute;
  white-space: nowrap;
  color: rgba($text-color, 0.05);
  width: 100%;
  font-weight: bold;
  z-index: 0;

  font-size: clamp(7rem, 8.3vw + 4.1rem, 20rem);
  bottom: clamp(-35px, -2.5vw - 15px, -90px);

  @include from('medium-768') {
    color: rgba($text-color, 0.03);
  }

  @include from('large-1280') {
    color: rgba($text-color, 0.02);
  }

  @include from('large-1920') {
    font-size: 22rem;
    bottom: -100px;
  }
}
